root = false

[*.cs]

# Suppress CS1573: Parameter has no matching param tag in the XML comment for {0} but other parameters do
dotnet_diagnostic.CS1573.severity = none

# Enable CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = warning